{% extends "base.html" %}
{% load render_table from django_tables2 %}


{% block body_block %}

    <style>
        tr[is_orphan="True"] {
            border: solid thin;
            {#border-left: solid;#}
            border-color: red;
            {#background-color: red;#}
        }
    </style>

    <br>

    <!-- Carousel wrapper -->
    <div
            id="carouselMeta"
            class="carousel slide carousel-fade shadow-3-strong"
            data-mdb-ride="carousel"
    >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li
                    data-mdb-target="#carouselMeta"
                    data-mdb-slide-to="0"
                    class=""
            ></li>
            <li
                    data-mdb-target="#carouselMeta"
                    data-mdb-slide-to="1"
                    class=""
            ></li>
            <li
                    data-mdb-target="#carouselMeta"
                    data-mdb-slide-to="2"
                    class=""
                    aria-current="true"
            ></li>
            <li
                    data-mdb-target="#carouselMeta"
                    data-mdb-slide-to="3"
                    class="active"
                    aria-current="true"
            ></li>
        </ol>

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item">
                <div class="text-center">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Mining Mode</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ mining_mode }}</h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <div class="text-center">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Wallet Version</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ wallet_version }}</h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <div class="text-center">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">PayOut in:</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title" id="id_payout">_</h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item active">
                <div class="text-center">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Pool Version</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ pool_version }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Inner -->

        <!-- Controls -->
        <a
                class="carousel-control-prev"
                href="#carouselMeta"
                role="button"
                data-mdb-slide="prev"
        >
            <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a
                class="carousel-control-next"
                href="#carouselMeta"
                role="button"
                data-mdb-slide="next"
        >
            <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    <!-- Carousel wrapper -->
    </section>
    <!--Section: Carousel-->



    <hr>

    {% if mining_mode %}
        <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Pool Search Rate</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ pool_hashrate }}<small class="text-muted fw-light">
                            GI/s</small></h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Active Miners</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ active_miners }}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3 text-white bg-primary">
                        <h4 class="my-0 fw-normal">Round Duration</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ round_duration }}<small
                                class="text-muted fw-light"> Hrs</small></h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3 text-white bg-primary">
                        <h4 class="my-0 fw-normal">Fee</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ fee }}<small class="text-muted fw-light"> %</small>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if table %}
        {% render_table table %}
    {% endif %}

    <script>
        $(document).ready(function(){
            $.ajax({
                url: '{% url 'presenter:ajax_load_payout_timer' payout_time=payout_time %}',
                success: function(data){
                    document.getElementById("id_payout").textContent=data;
                },
                failure: function(data) {
                    document.getElementById("id_payout").textContent="_";
                },
                cache: false
            });
        });
    </script>

{% endblock %}