{% extends "base.html" %}
{% load render_table from django_tables2 %}


{% block body_block %}

    <h1>Wallet Detail Page Test</h1>
    <br>
    {{ wallet_id }}

     <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Last Day Recv</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ last_day_recv }}<small class="text-muted fw-light"> NXS</small></h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Unpaid Balance</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ unpaid_balance }}<small class="text-muted fw-light"> NXS</small></h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 text-white bg-primary">
            <h4 class="my-0 fw-normal">Total Revenue</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ total_revenue }}<small class="text-muted fw-light"> NXS</small></h1>
          </div>
        </div>
      </div>
    </div>

{% endblock %}